.nav {
    font-size: large;
    text-decoration: none;
    background: black;
    margin: 50px red;
}

.nav-span {
    text-decoration: none;
    margin: 20px;
}

.nav-links {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 15px;
}

.nav-link-logger {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
    float: right;
}

.linked {
    padding: 50px;
    text-align: center;
}